.title {
    padding: 50px;
    background-color: black;
}

body {
    font-family: Roboto, sans-serif;

}

.column {
    float: left;
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.footer {
    background-color: #212121;
    text-align: center;
}

.footer.icons {
    padding: 0 10px;
}
